body {
    font-family: Arial;
    text-align: center;
    margin: 50px;

}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}