* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

.navbar {
    background: #1f2937;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 22px;
    font-weight: bold;
    color: #60a5fa;
}

.navbar nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 15px;
    transition: 0.3s;
}

.navbar nav a:hover,
.navbar nav a.active {
    color: #60a5fa;
}

.layout {
    display: flex;
    background: #f3f4f6;
     background-image: url("ai.jpg");
    background-size: cover;          
    background-position: center;    
    background-repeat: no-repeat;   
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 240px;
    background: #1f2937;
    color: white;
    padding: 25px 20px;
    height: calc(100vh - 60px);
}

.sidebar h3 {
    margin-bottom: 20px;
    font-size: 18px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 14px 0;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar ul li:hover {
    background: #374151;
}

/* MAIN CONTENT */
.content {
    flex: 1;
    padding: 40px;
}

.content h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #111827;
}

.content p {
    width: 75%;
    color: #4b5563;
    margin-bottom: 30px;
    line-height: 1.4;
}

.card-container {
    display: flex;
    gap: 25px;
}

.card {
    background: white;
    width: 260px;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    background: linear-gradient(135deg, #4f8dfd, #003b89);
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 12px;
    font-weight: bold;
}

.card h3 {
    margin-bottom: 10px;
    color: #111827;
}

.card p {
    font-size: 14px;
    color: #4b5563;
    margin-bottom: 18px;
}

.card button {
    width: 100%;
    padding: 9px;
    border: none;
    background: #4f8dfd;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background: #003b89;
}

.footer {
    background: #1f2937;
    color: white;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    margin-top: auto;
}

#Item1 {
    text-align: center;
}
#Item2 {
    text-align: center;
}

a:hover {
color: white;
background-color: blue;
padding: 5px 10px;
border-radius: 4px;
}
a:active {
background-color: darkblue;
}

@media (min-width: 400px) {
    .card h1
        body{
            background-color: blue;;
        }
    
    }
    
@media (min-width: 700px) {
        body{
            background-color: blue;;
        }
    
    }

