* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    height: 100vh;
    background: linear-gradient(140deg, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card {
    width: 380px;
    padding: 40px;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    animation: show 1s ease;
}

@keyframes show {
    from { opacity: 0; transform: scale(0.5); }
    to { opacity: 1; transform: scale(1); }
}

button {
    padding: 12px 28px;
    margin-top: 20px;
    background: #00eaff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    transition: 0.3s;
}

button:hover {
    background: #00bcd4;
}

.info {
    margin-top: 20px;
    background: rgba(0,0,0,0.4);
    padding: 14px;
    border-radius: 10px;
    font-size: 14px;
}
