* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal {
    width: 480px;
    background: rgba(0, 255, 0, 0.05);
    border: 2px solid #00ff00;
    padding: 35px;
    color: #00ff00;
    border-radius: 12px;
    box-shadow: 0 0 20px #00ff00;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from { box-shadow: 0 0 10px #00ff00; }
    to { box-shadow: 0 0 30px #00ff00; }
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 2px solid #00ff00;
    background: black;
    color: #00ff00;
    border-radius: 8px;
    font-size: 16px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background: #00ff00;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #00cc00;
}

pre {
    margin-top: 20px;
    white-space: pre-line;
    font-size: 18px;
    min-height: 150px;
}
